* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

:root {
  --white: #eee;
  --black: #222831;
  --cyan: #a5ecd7;
  --darkBlue: #0278ae;
  --lightBlue: #51adcf;
  --coral: coral;
  --red: #fd3a69;
  --blueButton: #169bd4;
  --yellow: #efe94c;

  --minHeightSmall: 665.99px;
  --minHeightMedium: 735.99px;
  --minHeightLarge: 811.99px;
}
